####################################
# Java
####################################
*.class
*.log
*.ctxt
hs_err_pid*

####################################
# Maven
####################################
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.bat

####################################
# Gradle
####################################
build/
.gradle/
!**/src/main/**/build/
!**/src/test/**/build/

####################################
# Spring Boot
####################################
HELP.md
*.jar
*.war
*.ear
*.pid

####################################
# Docker
####################################
.env
.env.*
docker-compose.override.yml
*.tar
*.pid

####################################
# Spring Config (Microservices Safe)
####################################
# Commit base config
# Ignore env-specific configs
**/src/main/resources/application-dev.properties
**/src/main/resources/application-prod.properties
**/src/main/resources/application-test.properties
**/src/main/resources/application-*.yml
src/main/resources/application.properties

####################################
# IntelliJ IDEA
####################################
.idea/
*.iws
*.iml
*.ipr
out/

####################################
# Eclipse / STS
####################################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

####################################
# VS Code
####################################
.vscode/

####################################
# NetBeans
####################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# Logs
####################################
logs/
*.log
